:root {
    --primary-color: #afeeee;
    --secondary-color: #24282a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */

header {
    padding: 20px 35px;
    background-color: var(--secondary-color);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 { 
    font-weight: bold;
    font-size: 36px;
    background-color: var(--primary-color);
    margin: 0 75px 0 0;
}

header a {
    margin: 0;
    color: var(--secondary-color);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 1.55vw;
    color: var(--primary-color);
}

/* Hero/Jumbotron */

.hero {
    background-image: url("../images/Screen\ Shot\ 2022-06-12\ at\ 10.33.00\ PM.png");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
    height: 200px;
}

.hero-cta {
    width: 50%;
    margin: 0 0 75px 100px;
}

.hero-cta h2 {
    font-size: 25px;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* About Me Section */

.columns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    flex: 50%;
}

.column h1 {
    font-weight: bold;
    font-size: 36px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--secondary-color);
    text-align: right;
    width: 20%
}

.column p, .column h3, .column a{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--secondary-color);
}

/* Work Section */

.work-boxes {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--secondary-color);
    float: right;
}

/* Contact Me Section */